.content {
    width: $forExtraSmall;
    margin: 0 auto;

    &__galery__info__title {
        @mixin contentInfo $fontSizeContentTitle;
    }

    &__galery__info__description {
        @mixin contentInfo $fontSizeContentDescription;
    }

    &__galery__offer {
        border-top: 1px solid #c6c6c6;
    }

    &__galery__offer--padding {
        padding: 20px 0;
    }

    &__galery__offer__top__frame {
        text-align: center;
    }

    &__galery__offer__top__frame--image {
        width: 100px;
        height: 100px;
    }

    &__galery__offer__top__frame--image__link {
        display: inline-block;
    }

    &__galery__offer__footer {
        text-align: center;
    }

    &__galery__offer__footer__statement {
        @mixin offerFooterInfo $fontSizeOfferFooterStatement;
        font-weight: 800;
        color: $fontColorOfferFooterStatement;
    }

    &__galery__offer__footer__statement--margin-bottom {
        margin-bottom: 10px;
    }

    &__galery__offer__footer__description {
        @mixin offerFooterInfo $fontSizeOfferFooterDescription;
        min-height: 37px;
    }

    &__galery__offer__footer__description--margin-bottom {
        margin-bottom: 10px;
    }

    &__galery__offer__footer__button__link {
        @mixin offerButton;
    }

    &__galery__viewAll {
        width: 100%;
        text-align: center;
    }

    &__galery__viewAll--margin {
        margin: 20px 0 70px;
    }

    &__galery__viewAll--link {
        @mixin viewAllButton;
    }

    @mixin small {
        width: $forSmall;
        &__galery__offer__top__frame--image {
            width: 110px;
            height: 110px;
        }
    }

    @mixin medium {
        width: $forMedium;
        &__galery__offer__top__frame--image {
            width: 120px;
            height: 120px;
        }
    }

    @mixin large {
        width: $forLarge;
        &__galery__offer__top__frame--image {
            width: 140px;
            height: 140px;
        }
    }

    @mixin extralarge {
        width: $forExtraLarge;
        &__galery__offer__top__frame--image {
            width: 150px;
            height: 150px;
        }
    }

    
}

