.content {
    width: $forExtraSmall;
    margin: 105px auto 0;

    &__ad {
        justify-content: space-between;
        text-align: center;
    }

    &__ad__frame:not(:first-child) {
        display: none;
    }

    &__ad__frame--image {
        max-width: 100%;
    }

    &__ad__frame--image__link {
        display: inline-block;
        transition: transform .5s ease-out;
        
        &:hover {
            transform: scale(1.009,1.009);
        }
    }

    &__galery--margin-bottom {
        margin-bottom: 35px;
    }

    &__galery__info__title {
        @mixin contentInfo $fontSizeContentTitle, $center;
        background-color: $primaryColor;
        color: $secondaryColor;
        padding: 3px 10px;
        position: relative;
        border-radius: 3px;
        text-transform: uppercase;
        @mixin gradient;
    }

    &__galery__info__title--box-shadow {
        @mixin boxShadow;
    }

    &__galery__info__description {
        @mixin contentInfo $fontSizeContentDescription, $justify;
    }

    &__galery__info__filter-left, &__galery__info__filter-right  {
        display:inherit;
    }

    &__galery__info__filter-left {
        justify-content: flex-start;
    }

    &__galery__info__filter-right {
        justify-content: flex-end;
    }

    &__galery__container {
        width: 100%;
        display: inherit;
        flex-wrap: wrap;
    }

    &__galery__offer--side {
        border-bottom: 1px solid #c6c6c6;
    }

    &__galery__offer--main:not(:last-child) {
        border-bottom: 1px solid #c6c6c6;
    }

    &__galery__offer--padding {
        padding: 20px 0;
    }

    &__galery__offer__top--margin-bottom {
        margin-bottom: 15px;
    }

    &__galery__offer__top__frame {
        text-align: center;
    }

    &__galery__offer__top__frame--image {
        width: 100px;
        height: 100px;
        transition: .5s all;
        &:hover {
            transform: scale(1.02,1.02);
        }
    }

    &__galery__offer__top__frame--image__link {
        display: inline-block;
    }

    &__galery__offer__footer {
        text-align: center;
    }

    &__galery__offer__footer__description {
        @mixin offerFooterInfo $fontSizeOfferFooterDescription;
        min-height: 37px;
    }

    &__galery__offer__footer__button__link {
        @mixin offerButton;
    }

    &__galery__viewAll {
        width: 100%;
        text-align: center;
    }

    &__galery__viewAll--margin-top {
        margin-top: 15px;
    }

    &__galery__viewAll--link {
        @mixin button $secondaryColor, $primaryColor, $primaryHelper, $primaryHelper;
    }

    @mixin smaller {
        &--padding-top {
            padding-top: 15px;
        }
    }

    @mixin small {
        width: $forSmall;

        &--padding-top {
            padding-top: 20px;
        }

        &__galery__offer--main:nth-last-child(2) {
            border-bottom: none;
        }

        &__galery__offer__top__frame--image {
            width: 110px;
            height: 110px;
        }

        &__ad__frame:nth-child(2) {
            display: inline-block;
        }
    }

    @mixin medium {
        width: $forMedium;

        &__ad__frame:last-child {
            display: inline-block;
        }

        &__galery__info__title  {
            text-align: left;
        }

        &__galery__offer--main:not(:last-child) {
            border-bottom: 1px solid #c6c6c6;
        }

        &__galery__offer__top__frame--image {
            width: 120px;
            height: 120px;
        }
    }

    @mixin large {
        width: $forLarge;

        &--padding-top {
            padding-top: 10px;
        }

        &__galery__offer--main {
            border-bottom: none !important;
        }

        &__galery__offer__top__frame--image {
            width: 140px;
            height: 140px;
        }
    }

    @mixin extralarge {
        width: $forExtraLarge;

        &--padding-top {
            padding-top: 20px;
        }

        &__galery__offer__top__frame--image {
            width: 150px;
            height: 150px;
        }
    }
}

