.filterbar {
    width: 100%;
    left: 0;
    right: 0;
    @mixin gradient;
    @mixin boxShadow;
    
   
    &--content {
        margin: 0 auto;
        width: $forExtraSmall;
        display: flex;
    }

    &--min-height {
        min-height: 1px;
    }
    

    &--align-items {
        align-items: center;
    }

    &__select {
        @mixin input $fontSize, $paddingSelectDropDown;
    }

    &__sort {
        @mixin input $fontSize, $paddingSelectDropDown;
    }

    &__sort--title {
        font-size: .9rem;
        padding: 7.3px 10px;
        color: #737171;
        font-family: sans-serif;
    }

    &__searchbar {
        @mixin input $fontSize, $paddingSearchBar;
        display:none;
    }

    &__searchbar__icon {
        background: url('/images/search_icon.png');
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 7px;
    }



    @mixin small {
        &--content {
            width: $forSmall;
        }

        &__select {
            width: 130px;
        }

        &__searchbar {
            display: inline-block;
            width: 230px;
        }
    }

    @mixin medium {
        &--content {
            width: $forMedium;
        }

        &--min-height {
            min-height: 50px;

        }

        &__select, &__searchbar {
            width: 160px;
        }
        
    }

    @mixin large {
        &--content {
            width: $forLarge;
        }

        &__select {
            width: 170px;
        }

        &__searchbar {
            width: 500px;
        }
    }

    @mixin extralarge {
        &--content {
            width: $forExtraLarge;
        }

        &__select {
            width: 200px;
        }

        &__searchbar {
            width: 500px;
        }
    }
}
