.filterbar {
    width: 100%;
    left: 0;
    right: 0;
    @mixin gradient;
    @mixin boxShadow;
    
   
    &--content {
        margin: 0 auto;
        width: $forExtraSmall;
        display: flex;
    }

    &--min-height {
        min-height: 40px;
    }
    

    &--align-items {
        align-items: center;
    }

    &__select {
        @mixin input;
        font-size: .9rem;
    }

    &__sort {
        @mixin input;
        font-size: .9rem;
    }

    &__sort--title, &__select--title {
        font-size: .9rem;
        padding: 7.3px 10px;
        color: #737171;
        font-family: sans-serif;
    }

    &__searchbar {
        @mixin input;
        font-size: .8rem;
        padding: 5px 0 5px 10px;
        width: 90%;
    }

    &__searchbar__icon {
        background: url('/images/search_icon.png');
        width: 22px;
        height: 22px;
        background-size: 22px 22px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 8px;

        &:hover, &:active {
            cursor: pointer;
        }
    }



    @mixin small {
        &--content {
            width: $forSmall;
        }

        &__select {
            width: 130px;
        }

        &__searchbar {
            font-size: .9rem;
            padding: 6px 0 6px 10px;
            width: 80%;
        }
    }

    @mixin medium {
        &--content {
            width: $forMedium;
        }

        &--min-height {
            min-height: 50px;

        }

        &__select {
            width: 160px;
        }

        &__searchbar { 
            padding: 7px 0 7px 10px;
            width: 60%;
        }
        
    }

    @mixin large {
        &--content {
            width: $forLarge;
        }

        &__select {
            width: 170px;
        }

        &__searchbar {
            width: 50%;
        }
    }

    @mixin extralarge {
        &--content {
            width: $forExtraLarge;
        }

        &__searchbar {
            font-size: 1rem;
            width: 47%;
        }
    }
}
