.filterbar {
    width: 100%;
    left: 0;
    right: 0;
    height: 50px;
    background: $primaryColor;
   
    &--content {
        margin: 0 auto;
        width: 60%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__select {
        @mixin input;
        padding: 5px 13px;
    }
    &__searchbar {
        width: 70px;
        @mixin input;
        padding: 5px 13px;
    }

    @mixin extrasmall {
        &--content {
            width: 90%;
        }
    }

    @mixin small {
        &--content {
            width: 90%;
        }

        &__searchbar {
            width: 85px;
        }
    }

    @mixin medium {
        &--content {
            width: 80%;
        }
        &__select {
            @mixin input
        }
        &__searchbar {
            width: 110px;
        }
        
    }

    @mixin large {
        &--content {
            width: 50%;
        }

        &__searchbar {
            width: 140px;
        }
    }
}
