.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 230px;
    @mixin gradient;

    &--content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__social-icons {

    }

    &__social-icons__link {
        padding: 10px;
    }
}