.navbar {
    width: 95%;
    margin: 0 auto;

    &__logo {
        display: none;
        align-self: flex-end;
    }

    &__menu__links {
        width: 100%;
    }

    &__menu__links--flex {
        display: flex;
        justify-content: space-between;
    }

    &__menu__links--block {
        display: block;
    }

    &__menu__links__active {
        color: #1d976c !important;
        border-bottom: 2px solid #1d976c !important;
        &:hover::before {
            border: none !important;
        }
    }

    &__menu__links a:not(:last-child) {
        @mixin hoverCSS;
    }

    &__menu__links a:nth-last-child(2) {
        margin-bottom: 5px;
    }

    &__menu__links__mobileLogo-frame {
        display: inherit;
        width: 85%;
    }

    &__menu__links__mobileLogo-image {
        max-width: 100%;
    }

    &__menu__links__hamburgerIcon {
        display: block;
        float: right;
        padding-left: 5px;
        text-decoration: none;
        font-size: 2rem;
        letter-spacing: .15vw;
        align-self: center;
        color: black;
        transition: .5s transform;
        &:hover, &:active {
            cursor: pointer;
            transform: rotate(90deg)
        }
    }

    &__menu__links.responsive {
        position: relative;
    }
    &__menu__links.responsive .navbar__menu__links__hamburgerIcon {
        position: absolute;
        right: 0;
        top: 17px;
    }
    &__menu__links.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    @mixin smaller {
        

        &__menu__links__hamburgerIcon {
            
        }
    }
    
    @mixin small {
        width: 90%;
        
        
    }

    @mixin medium {
        width: 80%;

        &--margin-bottom {
            margin-bottom: 10px;
        }

        &__logo {
            display: block;
        }

        &__logo img {
            max-width: 75%;
        }

        &__menu__links > div {
            display: flex;
            justify-content: space-between;
        }

        &__menu__links a:not(:last-child) {
            display: inline-block;
            font-size: 1.5vw;
        }

        &__menu__links a:nth-of-type(4) {
            padding-right: 0;
         }

        &__menu__links__mobileLogo-frame {
            display: none;
        }
         
        &__menu__links__hamburgerIcon {
           display: none;
        }
    }

    @mixin large {
        width: 60%;

        &__logo img {
            max-width: 100%;
        }
        
        &__menu__links a:not(:last-child) {
            font-size: 1.2vw;
         }
    }

    @mixin extralarge {
        width: 50%;

        &__menu__links a:not(:last-child) {
            font-size: 1vw;
         }
    }
}