.navbar {
    width: 95%;
    margin: 0 auto;

    

    &__logo {
        display: none;
    }

    &__menu__links {
        width: 100%;
    }

    &__menu__links__active {
        color: #1d976c !important;
        border-bottom: 2px solid #1d976c !important;
        &:hover::before {
            border: none !important;
        }
    }

    &__menu__links a:not(:last-child) {
        @mixin hoverCSS;
    }

    &__menu__links__mobileLogo-frame {
        display: inline-block;
        padding-top: 10px;
        width: 85%;
    }

    &__menu__links__mobileLogo-image {
        max-width: 100%;
    }

    &__menu__links__hamburgerIcon {
        display: block;
        float: right;
        padding-right: 0;
        text-decoration: none;
        padding: 19px 0 9px 16px;
        font-size: 1.40rem;
        letter-spacing: .15vw;
        &:hover, &:active {
            cursor: pointer;
        }
    }

    &__menu__links.responsive {
        position: relative;
    }
    &__menu__links.responsive .navbar__menu__links__hamburgerIcon {
        position: absolute;
        right: 0;
        top: 0;
    }
    &__menu__links.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    @mixin smaller {
        &--margin-bottom {
            margin-bottom: 10px;
        }

        &__menu__links__hamburgerIcon {
            padding: 22px 0 6px 16px;
            font-size: 1.45rem;
        }
    }
    
    @mixin small {
        width: 90%;
        
        &__menu__links__hamburgerIcon {
            font-size: 1.75rem;
        }
    }

    @mixin medium {
        width: 80%;

        &__logo {
            display: block;
        }

        &__logo img {
            max-width: 100%;
        }

        &__menu__links > div {
            display: flex;
            justify-content: space-between;
        }

        &__menu__links a:not(:last-child) {
            display: inline-block;
            font-size: 1.5vw;
        }

        &__menu__links a:nth-of-type(4) {
            padding-right: 0;
         }

        &__menu__links__mobileLogo-frame {
            display: none;
        }
         
        &__menu__links__hamburgerIcon {
           display: none;
        }
    }

    @mixin large {
        width: 60%;
        
        &__menu__links a:not(:last-child) {
            font-size: 1.2vw;
         }
    }

    @mixin extralarge {
        width: 50%;

        &__menu__links a:not(:last-child) {
            font-size: 1vw;
         }
    }
}