/* Add a black background color to the top navigation */

.navbar {
    width: 60%;
    margin: 0 auto;

    &__logo {
        display: none;
    }

    &__logo img {
        width: 100%;
        height: 100%;
    }

    &__menu {
        max-height: 50px;
    }
    
    &__menu a {
        float: left;
        display: block;
        color: $navbarLinkColor;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        &:hover {
            color: $navBarHoverColor;
        }
    }
    &__menu a:first-child {
        padding-left: 0px;
    }
    &__menu__hamburgerIcon {
       
    }
    &__login {
        background: url('/images/login_icon.jpg');
        height: 45px;
        width: 45px;
        background: url(/images/login_icon.jpg);
        background-size: 45px 45px;
        position: relative;
        float: right;
        cursor: pointer;
    }
    &__login:hover &__login__content {
        display: block;
    }
    &__login__content {
        display: none;
        position: absolute;
        background-color: $secondaryColor;
        min-width: 80px;
        z-index: 1;
        right: 0;
        top: 25px;
    }
    &__login__content a {
        color: $navbarLinkColor;
        right: 0;
        padding: 7px 10px;
        text-decoration: none;
        display: block;
    }
    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
    Show the link that contains should open and close the topnav (.icon) */
    @mixin extrasmall {
        width: 95%;
        &__logo {
            display: none;
        }
        &__menu {
            width: 100%;
        }
        & a:not(:first-child) {
            display: none;
        }
        &__menu__hamburgerIcon {
            float: right !important;
            display: block !important;
        }

        &__login {
            display: none;
        }
        /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
        This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
        & .responsive {
            position: relative;
        }
        & .responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        & .responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }

    @mixin small {
        width: 90%;

        &__logo {
            display: block;
        }

        &__menu__hamburgerIcon {
            display: none !important;
        }

        &__login {
            height: 25px;
            width: 25px;
            background-size: 25px 25px;
            margin-top: 10px;
        }
    }

    @mixin medium {
        width: 80%;
    }

    @mixin large {
        width: 60%;
    }
}