.row {
    display: flex;
    flex-wrap: wrap;

    &--gutter {
        padding-left: 0;
    }

    &--align {
        justify-content: center;
    }

    &--align-items {
        @mixin align_items center
    }
    &--padding-bottom {
        padding-bottom: 20px;
    }
    
    @mixin extrasmall {
        &__xs-0 {
            width: 0;
        }

        &__xs-12 {
            width: 100%;
        }
        
    }

    @mixin small {
        &__s-2 {
            width: 16.6%;
        }

        &__s-6 {
            width: 50%;
        }

        &__s-10 {
            width: 83.3%;
        }

        &__s-12 {
            width: 100%;
        }
    }

    @mixin medium {

        &--gutter {
            padding-left: 2vw;
        }

        &__md-2 {
            width: 16.6%;
        }

        &__md-3 {
            width: 25%;
        }

        &__md-4 {
            width: 33.3%;
        }

        &__md-9 {
            width: 75%;
        }

        &__md-10 {
            width: 83.3%;
        }

        &__md-12 {
            width: 100%;
        }
    }

    @mixin large {

        &--gutter {
            padding-left: 5vw;
        }

        &__lg-2 {
            width: 16.6%;
        }

        &__lg-2--large {
            width: 20%;
        }

        &__lg-3 {
            width: 25%;
        }

        &__lg-10 {
            width: 83.3%;
        }

        &__lg-10--small {
            width: 80%;
        }

        &__lg-12 {
            width: 100%;
        }
    }

}