.row {
    display: flex;
    flex-wrap: wrap;

    &--gutter {
        padding-left: 20px;
    }
    
    @mixin extrasmall {
        &__xs-0 {
            width: 0;
        }

        &__xs-12 {
            width: 100%;
        }
    }

    @mixin small {
        &__s-2 {
            width: 16.6%;
        }

        &__s-10 {
            width: 83.3%;
        }

        &__s-12 {
            width: 100%;
        }
    }

    @mixin medium {
        &__md-12 {
            width: 100%;
        }
    }

    @mixin large {
        &__lg-2 {
            width: 16.6%;
        }

        &__lg-10 {
            width: 83.3%;
        }

        &__lg-12 {
            width: 100%;
        }
    }

    &--alignSelf {
        @mixin align_self flex-end;
    }
}