@define-mixin extrasmall {
    @media (max-width: 530px) {
        @mixin-content;
    }
}

@define-mixin small {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin medium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin large {
    @media (min-width: 1125px) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    display: table;
    clear: both;
    content: "";
}

@define-mixin align_items $value {
    align-items: $value;
}

@define-mixin align_self $value {
    align-self: $value;
}

@define-mixin input {
    border: 2px solid #2f9e01;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 5px 20px 5px 40px;
}