/* Media Queries */
@define-mixin extrasmall {
    @media (max-width: 530px) {
        @mixin-content;
    }
}

@define-mixin small {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin medium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin large {
    @media (min-width: 1325px) {
        @mixin-content;
    }
}

@define-mixin extralarge {
    @media (min-width: 1625px) {
        @mixin-content;
    }
}

@define-mixin align_items $value {
    align-items: $value;
}

@define-mixin align_self $value {
    align-self: $value;
}

@define-mixin gradient {
    background: $primaryColor;
    background: linear-gradient(270deg, $primaryColor, $primaryHelper);
}

@define-mixin link $fontSize {
    position: relative;
    color: $navbarLinkColor;
    font-size: $fontSize;  
    padding: 14px 16px;
    letter-spacing: .15vw;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
    transition: all 1s ease;
    display: none;

    &:hover:after {
        content: "";
        border-bottom: 1px solid $navBarHoverColor;
        position:absolute;
        left: 16px;
        right: 16px;
        bottom: 10px;
    }
}

/* -Filter Bar Select Dropdown and Search Bar- */
@define-mixin input $fontSize, $padding {
    border: 2px solid #2f9e01;
    border-radius: 4px;
    color: #737171;
    font-size: $fontSize;
    padding: $padding;
    width: 110px;
    text-transform: capitalize;
}

/* -Content Description and Title- */
@define-mixin contentInfo $fontSize, $textAlign {
    font-size: $fontSize;
    line-height: 1.5;
    letter-spacing: .03rem;
    padding: 3px 10px;
    text-align: $textAlign;
}

/* -Content__Offer__Footer Description and Title- */
@define-mixin offerFooterInfo $fontSize {
    font-size: $fontSize;
    line-height: 1.5;
    letter-spacing: .03rem;
}

@define-mixin offerButton {
    text-decoration: none;
    display: block;
    width: 60%;
    background-color: $linkDefault;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 3px #c3c3c3;
    transition: background-color 1s;

    &:hover {
        background-color: $linkHover;
    }

    &:active {
        box-shadow: 0 2px #666;
        transform: translateY(2px);
    }
}

@define-mixin viewAllButton {
    display: inline-block;
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #2f9e01;
    background-color: #ffffff;
    border: 1px solid #2f9e01;
    border-radius: 2px;
    box-shadow: 0 1px #999;

    &:hover {
        background-color: #f1f1f1
    }
    
    &:active {
      background-color: #f1f1f1;
      box-shadow: 0 2px #666;
      transform: translateY(2px);
    }
}

@define-mixin boxShadow {
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    &:before, &:after
        {
            content:"";
            position:absolute;
            z-index:-1;
            box-shadow:0 0 20px rgba(0,0,0,0.8);
            top:50%;
            bottom:0;
            left:10px;
            right:10px;
            border-radius:100px / 10px;
        }
    &:after
        {
            right:10px;
            left:auto;
            transform:skew(8deg) rotate(3deg);
        }
}