$primaryColor : #6A6;
$primaryHelper: #1d976c;
$secondaryColor: #fff;

/* -Screen-Width- */
$forExtraSmall: 95%;
$forSmall: 90%;
$forMedium: 80%;
$forLarge: 60%;
$forExtraLarge: 50%;

/* -Navbar- */
$navbarLinkColor: #8c8888;
$navBarHoverColor: #1d976c;

/* -Filter Bar- */
/* --Search Bar & Select Dropdown-- */
$fontSize: .8rem;
$paddingSelectDropDown: 5px 10px;


/* -Content- */
/* --Description & Title-- */
$fontSizeContentTitle: 1.2rem;
$fontSizeContentDescription: .9rem;
$justify: justify;
$center: center;


/* -Content__Offer__Footer- */
/* --Description -- */
$fontSizeOfferFooterDescription: .8rem;

/* ---Content__Offer__Footer__Link---  */
$linkHover: #146d4e;

