<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Couponmatic -Giveaways</title>
</head>

<body>
    <div class="header">

    </div>

    <div class="wrapper">

        <div class="content">
            <h2>Today's Top Coupons & Offers</h2>
            <p>Just like every Sunday you get your RedPlum coupons in the newspaper — every Sunday you can also visit us online
                to find additional free printable coupons.</p>
        </div>

    </div>
</body>

</html>